<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper" style="display:flex; align-items: center;">
      <img class="brand-l" src="assets/logo.png">
      <h4 style="margin-left: 32%;">ChatBot</h4>
    </div>
  </nav>
</div>

<div class="container">
  <mat-form-field *ngIf="!userID" class="example-full-width">
    <input matInput placeholder="Hello, Please enter your ID" #userId (keyup.enter)="onClick(userId.value)">
  </mat-form-field>
  <div *ngFor="let chat of chatContents">
    <app-card-generator [data]="chat" (userResponse)="optionClicked($event)"></app-card-generator>
  </div>
</div>