.question-card {
    background-color: #B9F6CA;
    max-width: 40%;
    border-radius: 2px;
    margin: 10px 0;
}

.answer-card {
    color:#1976D2 !important;
    border: 2px solid lightgray;
    max-width: 40%;
    float: right;
    border-radius: 2px;
    background-color: #fff;
    margin: 10px 0;
}

:host /deep/ .question .mat-card-content {
    margin-bottom: 2px;
}

.mat-card {
    padding: 20px 15px;
}

.mat-button{
    border: 2px solid;
    margin-right: 0 2px 0 0 !important;
}

.card-buttons {
    margin: 0 5px 5px 0 !important;
}

.example-full-width {
    width: 100%;
}

.icon-class {
    cursor: pointer;
    float: right;
}

.mat-slider-horizontal {
    width:90%
}

.slider-pos {
    margin-top: 20px;
}